{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ELECTION</title>
    <link
      rel="stylesheet"
      href="{% static '../../static/CSS/about-login.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- ? Nav-Bar-Start -->
    <nav>
      <div class="logo">
        <h4>ELECTION 2019</h4>
      </div>
      <ul class="nav-links">
        <li>
          <a
            ><i style="font-size:17px" class="fa fa-phone"></i> TOLL-FREE:
            1950</a
          >
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <!-- ? Nav-Bar-End -->

    <!-- ?button area -->
    <div class="main_background">
      <div class="btn-qr-code">
        <a href="accounts/register"> <button id="click-to-qr-btnt">SIGN UP</button></a>
      </div>
      <div class="btn-qr-code">
        <a href="accounts/login"><button id="click-to-qr-btnt">SIGN IN</button></a>
      </div>
    </div>

    <!-- button area ends -->
  </body>
  <script src="{% static '../../static/JavaScript/index_JS.js' %}"></script>
</html>
