 {% extends "base.html" %} 

 {% block content %}
 
<div class="description-box">
        <div class="container-des">
          <div class="des-title">
            SECURE <br />
            <br />RELIABLE <br />
            <br />
            & <br /><br />
            TRANSPARENT ELECTION
            <br />
            <br />
            With
            <br />
            <br />
            <br />
            <p class="azureblock"><b>AZURE BLOCKCHAIN</b></p>
          </div>
        </div>
      </div>
      <div class="btn-qr-code">
        <a href="options"
          ><button id="click-to-qr-btnt">Click To Cast Vote</button></a
        >
      </div>
</div>
<style>

 .main_background {

background: #334d50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  width: 100vw;
  height: 92vh;
}
  /* * button to signup or signin page code */
  button {
    background: #1aab8a;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    float: right;
    margin-top: 39vh;
    margin-right: 10vh;
    border-radius: 5px;
  }

  button:hover {
    background: #fff;
    color: #1aab8a;
  }

  button:before,
  button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1aab8a;
    transition: 400ms ease all;
  }

  button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  button:hover:before,
  button:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

  /* ? btn qr code ends  */

  /* * description box start */
  .description-box {
    background: rgba(223, 223, 223, 0);
    width: 50vw;
    height: 70vh;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
  }

  .des-title {
    text-align: center;
    font-size: 34px;
    color: #1a1212;
  }

  .azureblock {
    font-size: 37px;
    color: black;
  }
</style>

<script>

  history.pushState(null, null, location.href);
  window.onpopstate = function () {
    history.go(1);
  };
</script>

 {% endblock  %} 

